<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{{ url_for('static',filename='styles/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
	<!-- Cool Logos that are open source -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
	<!-- Extra support css for admin dashboard -->
	<link href="{{ url_for('static',filename='styles/mdb.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='styles/admin.css') }}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>Admin - Tracker</title>
</head>

<body>
	{% if 'AddUserFailed' in session %}
		<script type="text/javascript">
			$(window).on('load', function() {
				$('#UserFailed').modal('show');
				{% py %}
					session.pop('AddUserFailed')
				{% endpy %}
			});
		</script>
		<div class="modal fade" id="UserFailed" tabindex="-1" aria-labelledby="UserFailedLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="UserFailedLabel">User Creation Failed</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning" role="alert">
							{{ session['Warning'] }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% py %}
			session.pop('Warning')
		{% endpy %}
	{% endif %}

	<header>
		<!-- Side menu bar -->
		<nav id="sidebarMenu"
			class="collapse d-lg-block sidebar collapse">
			<div class="position-sticky">
				<div class="list-group list-group-flush mx-3 mt-4">
					<a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
						<i class="fas fa-server fa-fw me-3"></i>
						<span>Main Dashboard</span>
					</a>
				</div>
			</div>
		</nav>
		
		<!-- Top menu bar -->
		<nav id="main-navbar" class="navbar navbar-expand lg navbar-light fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle Navigation">
					<i class="fas fa-bars"></i>
				</button>
				
				<div class="navbar-brand">
					{{ loggedInUser }}
				</div>
					
				<ul class="navbar-nav ms-auto d-flex flex-row">
					<li class="nav-item dropdown">
						<a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="userProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfile">
							<li><a class="dropdown-item" href="#">Change Password</a></li>
						</ul>
					</li>
					<li class="nav-item"><a class="nav-link me-3 me-lg-0" href="HandelLogout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	<main style="margin-top: 58px">
		<div class="container pt-4">
			<section>
				<div class="row">
				{% for x in users %}
					<div class="col-xl-3 col-sm-6 col-12 mb-4">
						<div class="card">
							<div class="card-header py-3">
								<strong>{{ '{0} {1}'.format(x[3],x[2]) }}</strong>
							</div>
							<div class="card-body">
								test
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</section>
			
			<!-- Entire div will be in the background until button has been pressed. 
				From there, the modal will make sure all values have been entered before moving on to
				submit the form to /AddUser where Python will take control again -->
			<div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="AddUserModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="AddUserModalLabel">Add User</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form action="AddUser" method="POST">
								<div class="mb-3">
									<label for="First">First Name</label>
									<input type="text" name="First" id="First" class="form-control" required>
								</div>
								<div class="mb-3">
									<label for="Last">Last Name</label>
									<input type="text" name="Last" id="Last" class="form-control" required>
								</div>
								<div class="mb-3">
									<label for="Rank">Rank</label>
									<input type="text" name="Rank" id="Rank" class="form-control" required>
								</div>
								<div class="mb-3">
									<label for="Squad">Squad</label>
									<input type="number" min="0" name="Squad" id="Squad" class="form-control" required>
								</div>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Add User</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<section class="mb-4">
				<div class="card">
					<div class="card-body text-centered">
						<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddUserModal">Add User</button>
					</div>
				</div>
			</section>
			
		</div>
	</main>
	
	<script type="text/javascript" src="{{ url_for('static',filename='javascript/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='javascript/mdb.min.js') }}"></script>
</body>

</html>