@charset "UTF-8";
body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

@media (max-width:575px) {
	.display-4 {
		font-size: 1.5rem;
	}
	.day h5 {
		background-color: #f8f9fa;
		padding: 3px 5px 5px;
		margin: -8px -8px 8px -8px;
	}
	.date {
		padding-left: 7px;
	}
}

@media (min-width: 576px) {
	.day {
		height: 6vw;
		text-align: center;
		cursor: pointer;
		transition: background 1s ease;
	}
	.day:hover {
		background-color: #cccccc;
	}
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}